<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Wayward Wander needs your location to guide you to scavenger hunt destinations and show you how close you are to each clue.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Wayward Wander needs your location to guide you to scavenger hunt destinations and notify you when you arrive.</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>LaunchScreenBackground</string>
        <key>UIImageName</key>
        <string>LaunchIcon</string>
    </dict>
</dict>
</plist>
